[{{ rotate_target_directory }}]
hourly = {{ rotate_retention_config.hourly }}
daily = {{ rotate_retention_config.daily }}
weekly = {{ rotate_retention_config.weekly }}
monthly = {{ rotate_retention_config.monthly }}
yearly = {{ rotate_retention_config.yearly }}
ionice = {{ rotate_retention_config.ionice }}
