{% for target in rotate_targets -%}
[{{ target.directory }}]
hourly = {{ target.hourly }}
daily = {{ target.daily }}
weekly = {{ target.weekly }}
monthly = {{ target.monthly }}
yearly = {{ target.yearly }}
ionice = {{ target.ionice }}

{% endfor %}