[{{ rotate_target_directory }}]
hourly = {{ rotate_retintion_config.hourly }}
daily = {{ rotate_retintion_config.daily }}
weekly = {{ rotate_retintion_config.weekly }}
monthly = {{ rotate_retintion_config.monthly }}
yearly = {{ rotate_retintion_config.yearly }}
ionice = {{ rotate_retintion_config.ionice }}
